body {
    margin: auto;
    background-color: white;
    width: auto;
}


/* Define as caracteristicas do nome Leandro Macedo no topo */
.secao-topo h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 70px;
    letter-spacing: 10px;
    color: #465547;
    text-shadow: 2px 10px 10px #465547, 0 0 1px;
    margin-bottom: auto;
     
}

/* Aqui define todos os paragrafos */
p {
font-size: 15px;
flex-direction: column-reverse;
display: flex; 
}

/* Aqui define apenas o h3 na seção do topo */
#subtitulo-topo {
    text-shadow: 2px 5px 8px #465547, 0 0 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 22px;
    letter-spacing: 5px;
    color: orangered;
    font-weight: bold;
    

}

/* Define as caracteristicas do botão "Ver Planos" */
#ButtomPlanos {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width:1px;
    color:#fff;
    border-color:#465547;
    font-weight: bold;
    border-radius: 28px;
    text-shadow: 1px 1px 0px #20241f;
    background:#3EB489;
    padding: 8px 18px;
    text-decoration: none;
    line-height: 100px;
    transition: all 0.3s ease-out;

}
#ButtomPlanos:hover {
    background: orangered;   
}

#secaotopo {
    text-align: center;
    color: orangered;
    font-size: 20px;
    line-height: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 64px;   
}

/* Define as caracteristicas envolvidas na seção de informações */
.informacoes {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: black;
    
}

/* Define as caracteristicas dos botões do menu */
.menuClass a{
    font-size: 21px;
    font-family: Arial;
    width: 140px;
    height: 50px;
    border-width:1px;
    color:#fff;
    border-color:#18ab29;
    font-weight: bold;
    border-radius: 28px;
    background:#3EB489;
    padding: 8px 70px;
    margin: 22px 1px 2px 15px;
    text-decoration: none;
    text-shadow: 2px 5px 8px #465547, 0 0 1px;

}
.menuClass a:hover {
    background: orangered;
}

/*Define as caracteristicas dos botões login e senha */
.buttom-login {
    font-size:12px;
    font-family:Verdana;
    width:87px;
    height:18px;
    border-width:1px;
    color:#777777;
    border-color:#dcdcdc;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    text-shadow:inset 0px -5px 0px #ffffff;
    background:linear-gradient(#ededed, #dfdfdf);
}

.buttom-login:hover {
    background: linear-gradient(#dfdfdf, #ededed);
}

/* Aqui define a cor e fonte das palavras especificas em laranja */
#orange {
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
}



/* Aqui define a seção da pagina "Como funciona?" */
.secao4 {
    background-color: black;
    color: rgba(128, 128, 128, 0.979);
    line-height: 25px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 28px;
    
}

/* direciona a area de login para o canto superior direito da pg */
.right-login{
    text-align: right;

}

/* Define as caracteristicas de todos os span */
span {
    color: black;
    line-height: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

#antiquewhite {
    color: antiquewhite;
    
}

/* Define as caracteristicas de todos h3 */
h3 {
    font-size: 30px;
    margin: 40px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;
   
}



/* Define as caracteristicas das listas não ordenadas e os itens da mesma */
li, ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: flexbox;
    
    

}
/* Define as caracteristicas da palavra "Planos" na linha 115 */
#valoresplanos {
    color: orangered;
    font-weight: bold;
    font-size: 63px;
    text-align: center;
    text-shadow: 2px 5px 8px #465547, 0 0 1px;
}


/* Define as caracteristicas do Plano1 dos itens da lista, linha 118 */
#plano1 {
    width: 25%;
    height: 150px;
    display: inline-block;
    margin-left: 150px;
    text-align: center;

}
/* Define as caracteristicas do Plano2 dos itens da lista, linha 133 */
#plano2 {
    width: 25%;
    height: 200px;
    display: inline-block;
    background-color: orangered;
    text-align: center;
   
}

/* Define a cor laranja e algumas caracteristicas no valor do plano 2 */
#liorange {
    width: auto;
    height: auto;
    background-color: orangered;
    color: white;
}

/* Define as caracteristicas do plano3 linha 149 */
#plano3 {
    width: 25%;
    height: 150px;
    display: inline-block;
    margin-left: 50px;
    text-align: center;
}

/* Define as caracteristicas das img em geral */
img{
    width: 60px;
    padding: 20px;
    margin-bottom: 5px 10 5 10;
}
